@page "/Apod"
@inject NasaService NasaService

<h3>Image du jour</h3>

<input type="date" @bind-value="dateInput" @bind-value:event="oninput" />
<button @onclick="SearchImage">Rechercher</button>

@if (nasaImage == null)
{
    <p>Chargement...</p>
}
else
{
    <h4>@nasaImage.Title</h4>
    <img src="@nasaImage.Url" alt="@nasaImage.Title" width="600" />
    <p>@nasaImage.Explanation</p>
}

@code {
    private NasaImageResponse? nasaImage;
    private DateTime? dateInput = DateTime.Today; // Initialisation avec la date du jour

    protected override async Task OnInitializedAsync()
    {
        nasaImage = await NasaService.GetImageOfTheDay();
    }

    private async Task SearchImage()
    {
        if (dateInput.HasValue)
        {
            string formattedDate = dateInput.Value.ToString("yyyy-MM-dd");
            nasaImage = await NasaService.GetImageOfTheDay(formattedDate);
        }
    }
}
