@page "/Epic"

<PageTitle>Nasa Picture API page</PageTitle>

<h1>EPIC, api de la nasa, permettant d'observer des images du ciel, et de la terre</h1>

Bienvenue sur cette page. ajout plus tard d'un système comme la page APOD, pour afficher les images et les infos,
faire des recherches selon la date et mettre les photos préférées en favorites.
(WIP)

