@page "/"

<PageTitle>Home</PageTitle>

<h1>Bienvenue Sur ma page d'accueil. </h1>

<P4 class="HomeText">
    si vous êtes ici, vous aussi aimez les photos incroyables que propose la nasa tous les jours.
    j'ai décidé de trouver une façon d'accèder facilement, et de façon intuitive à toutes ces photos, ainsi que conserver vous préférées.
    je vous propose donc ce petit projet très léger, qui permet de rechercehr des photos selon une date en particulier, ou au hasard,
    en plus de proposer tous les jours la nouvelle "image of the day".
    Merci pour votre intéret!
    <br/>
    <br/>
    Shy_
</P4>